__pycache__/
*.py[cod]
*.so
.pytest_cache/
.venv/
venv/
.env
data/
*.log
logs/
.DS_Store
*.tar.gz

# Flutter
mobile_desktop/.dart_tool/
mobile_desktop/.flutter-plugins
mobile_desktop/.flutter-plugins-dependencies
mobile_desktop/build/
mobile_desktop/.idea/
mobile_desktop/.vscode/
mobile_desktop/ios/Pods/
mobile_desktop/ios/.symlinks/
mobile_desktop/ios/Flutter/Flutter.framework
mobile_desktop/ios/Flutter/Flutter.podspec
mobile_desktop/android/.gradle/
mobile_desktop/android/build/
mobile_desktop/android/app/build/
mobile_desktop/macos/Pods/
mobile_desktop/windows/build/
mobile_desktop/pubspec.lock
